.headerBanner {
  background-image: url(../../Assets/images/chair-lite.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headerBanner::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--blue);
  z-index: -50;
}
